img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
p {
	font-family: 'Roboto Mono', monospace;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: lowercase;
	border-bottom: 3px solid rgba(100, 100, 100, .4);
	width: 30%;
	padding-bottom: 20px;
}